.has-cursor * {
  cursor: none;
}
.site-cursor {
  display: none;
  .has-cursor & {
    display: block;
  }
  .cursor-left-right & {
    background: url(/assets/left-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  width: 3rem;
  height: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform;
  z-index: 10000;
  pointer-events: none;
  transform: translateX(var(--mouse-x)) translateY(var(--mouse-y))
    translateX(-12px);
}
