.info--text {
  grid-column: 1 / 13;
  align-self: flex-start;
  padding-top: 4rem;
  @include bp(m) {
    padding-top: calc(var(--ms-0) * 3);
    grid-column: 1 / 7;
  }
  @include bp(l) {
    grid-column: 1 / 6;
    padding-right: 1em;
  }
  a {
    font-family: $everson;
    color: $brown;
    font-size: var(--ms-0);
    text-decoration: none;
    &:hover,
    &:focus {
      color: $navy;
    }
  }
}

.info--timeline {
  grid-column: 1 / 13;
  @extend %hide-scrollbar;
  z-index: 5000;
  ul {
    padding-bottom: 1.85em;
    &:last-of-type {
      padding-bottom: 1.5em;
    }
  }
  @include bp(m) {
    grid-column: 7 / 13;
    grid-row: span 2;
    height: calc(100vh - 1em);
    top: 1em;
    position: relative;
    overflow-y: scroll;
  }
  @include bp(l) {
    grid-column: 6 / 10;
  }
  &:after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    height: 2rem;
    width: 100%;
    background: linear-gradient(to top, white 0%, transparent 100%);
  }

  .subtitle {
    list-style: none;
    font-size: var(--ms-1);
    padding-bottom: 0.8em;
    background: linear-gradient(to bottom, white 50%, transparent 100%);
    @include bp(m) {
      position: sticky;
      top: 0rem;
    }
  }
}

.timeline--title {
  font-size: var(--ms-1);
  margin-bottom: 0.5em;
}

.timeline--item {
  list-style: none;
}
.timeline--item--copy {
  padding-left: 2em;
  &:before {
    content: "~";
    display: inline-block;
    margin-right: -0.45em;
    margin-left: -0.6em;
  }
}

.info--colophon {
  grid-column: 1 / 13;
  line-height: 1.25;
  font-size: var(--ms-0);
  position: relative;
  z-index: 10000;
  .colophon--inner {
    font-size: var(--ms--1);
  }
  @include bp(m) {
    grid-column: 1 / 6;
    align-self: flex-end;
  }
  @include bp(l) {
    grid-row-start: 2;
    align-self: flex-end;
    grid-column: 10 / 13;
  }
}

.place {
  padding-left: 2em;
}

#mc_embed_signup {
  padding-top: 2em;
  p {
    margin-bottom: 0.25em;
  }
  label {
    display: block;
    font-size: 0;
  }
  #mc_embed_signup_scroll {
    display: flex;
    align-items: flex-end;
  }
  input {
    border: 0;
    border-radius: 2px;
    margin-left: 1px;
    &:focus {
      box-shadow: 0;
      outline: 0;
    }
  }
  .button {
    appearance: none;
    background: transparent;
    cursor: pointer;
    font-family: $everson;
    color: $brown;
    &:hover,
    &:focus {
      color: $navy;
    }
  }
  .email {
    border: 0.5px solid $brown;
    padding-left: 0.2em;
    margin-right: 0.5em;
    font-family: $everson;
    &::placeholder {
      color: $brown;
      opacity: 1;
    }
  }
}
