.preview-items {
  display: contents;
}
.preview-item {
  grid-column: 1 / 13;
  display: flex;
  flex-flow: column-reverse;
  list-style: none;
  margin-bottom: 2rem;
  @include bp(m) {
    display: contents;
  }
  &:first-of-type {
    .slider,
    .preview-item--header {
      padding-top: 4rem;
    }
  }
  .slider {
    @include bp(m) {
      grid-column: 1 / 9;
    }
  }
}

.preview-item--header {
  margin-bottom: 0.5em;
  text-align: center;
  grid-column: 1 / 13;
  @include bp(m) {
    text-align: left;
    grid-column: 9 / 13;
  }
}
.preview-item--title {
  color: $brown;

}

.preview-item--subtitle {
  color: $black;
  display: block;
  @include bp(m) {
    color: inherit;
    margin-bottom: 1em;
  }
}
.preview-item--copy {
  text-align: left;
  display: none;

  @include bp(m) {
    display: block;
  }
  p {
    margin-bottom: 1em;
  } 
  a {
    color: $brown;
    &:hover, &:focus {
      color: $navy;
    }
  }
}

.slider {
  margin-bottom: 1rem;
  min-height: 50vh;
  cursor: pointer;
  img {
    display: none;
    width: 100%;
    &:first-of-type {
      display: block;
    }
  }
}

.slider--slides {
  margin-bottom: 0.5em;
}

.slider-count {
  text-align: center;
  position: relative;
  top: -1rem;
  font-size: var(--ms-0);
}
