.site-header {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  padding: calc(#{$baseline} * 1) 1rem;
  @include bp(m) {
    padding: calc(#{$baseline} * 1) 2rem;
  }
  @include bp(l) {
    flex-flow: row;
  }
  position: fixed;
  width: 100%;
  color: $brown;
  top: 0;
  left: 0;
  padding-bottom: 1.4rem;
  font-size: var(--ms-1);
  color: $brown;
  z-index: 2000;
  background: linear-gradient(to bottom, white 0%, white 5%, transparent 100%);

  .directory & {
    a:hover,
    a:focus {
      color: $blue;
    }
  }
}

.current-directory-item {
  display: none;
  .entry-is-open &.active {
    display: inline-block;
  }
  max-width: 30em;
  position: relative;
  @include bp(l) {
    margin-left: -0.2em;
    padding-left: .85em;
  }
  .spinner {
    margin-left: 0.5em;
  }
  &:before {
    margin-right: 0.2em;
    position: absolute;
    left: 0em;
    @include bp(l) {
      content: "/";
    }
  }
}

.site-title {
  margin-right: 0.3em;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    height: 1px;
    background: currentColor;
    display: none;
    transition: 500ms;
    @include bp(m) {
      display: inline-block;
      margin-left: 0.3em;
      width: 0.5em;
    }
    @include bp(l) {
      width: 1em;
    }
  }
}

.site-footer {
  display: none;
}

.site-nav {
  display: flex;
  .directory & a:after {
    color: white;
  }
  a {
    margin-right: 0.2em;
    &:after {
      content: "/";
      color: $brown;
      padding-left: 0.2em;
    }
    &:hover,
    &:focus {
      color: $navy;
    }
    &:last-of-type:after {
      content: "";
    }
  }
}
