.slider {
  width: 100%;
}
.slider--slides {
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  &.active {
    visibility: visible;
  }
  &:last-of-type {
    position: static;
  }
}
