.slider {
  width: 100%;
}
.slider--slides {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: -2%;
  left: 0;  
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  &.active {
    visibility: visible;
  }
  &:last-of-type {
    position: relative;
    top: -1rem;
  }
}
