.directory {
  background: $black;
  .site-header {
    font-weight: 700;
    color: white;
    background: linear-gradient(
      to bottom,
      $black 0%,
      $black 45%,
      transparent 100%
    );
  }
}

.directory--filters {
  position: fixed;
  justify-content: space-evenly;
  flex-flow: column;
  display: none;
  top: 2rem;
  height: calc(100vh - 5rem);
  @include bp(l) {
    top: 2.5rem;
    height: calc(100vh - 2rem);
  }
  @media (min-height: 40rem) {
    display: flex;
  }
  button {
    text-align: left;
    appearance: none;
    font-size: var(--ms-0);
    font-family: $everson;
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    &:hover,
    &.active {
      color: $blue;
    }
  }
}

.directory--nav {
  grid-column: 1 / 13;
  @extend %hide-scrollbar;
  z-index: 5000;
  color: white;
  ul {
    margin-bottom: 3em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include bp(m) {
    grid-column: 7 / 13;
    grid-row: span 2;
    height: calc(100vh - 2em);
    top: -2.5em;
    position: relative;
    overflow-y: scroll;
    margin-bottom: -4rem;
  }
  @include bp(l) {
    grid-column: 8 / 13;
  }

  .subtitle {
    list-style: none;
    font-size: var(--ms-1);
    padding-bottom: 1em;
    background: linear-gradient(to bottom, $black 30%, transparent 100%);
    @include bp(m) {
      position: sticky;
      top: 0rem;
    }
  }
}
.directory--nav--title {
  @include bp(m) {
    position: absolute;
    top: 1rem;
    z-index: 5000;
    font-size: var(--ms-1);
  }
}
.directory--entry {
  grid-column: 2 / 7;
  grid-row: 1;
  color: white;
}

.directory--item {
  list-style: none;
  font-size: var(--ms-0);
  cursor: pointer;

  img {
    width: 100%;
  }

  &:hover,
  &.active {
    color: $blue;
  }
  &.hidden {
    display: none;
  }
  .description {
    padding-left: 2em;
  }
}
