.directory {
  background: $black;
  @include bp(m) {
    overflow-y: hidden;
  }
  .site-header {
    font-weight: 700;
    color: white;
    background: linear-gradient(to bottom, $black 0%, transparent 80%);
  }
}

.directory--filters {
  position: fixed;
  justify-content: space-between;
  flex-flow: column;
  display: none;
  top: 0;
  left: 2rem;
  z-index: 10000;
  height: 100vh;
  @media (min-height: 40rem) {
    @include bp(m) {
      display: flex;
      padding-bottom: calc(var(--ms-0) * 1);
      padding-top: calc(var(--ms-0) * 7);
      .long-title & {
        padding-top: calc(var(--ms-0) * 8);
      }
    }
    @include bp(l) {
      padding-top: calc(var(--ms-0) * 4);
      .long-title & {
        padding-top: calc(var(--ms-0) * 4);
      }
    }
  }
  button {
    text-align: left;
    appearance: none;
    font-size: var(--ms-0);
    font-family: $everson;
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    outline: 0;
    &:hover,
    &.active {
      color: $blue;
      outline: 0;
    }
  }
}

.close-entry {
  position: fixed;
  top: 1rem;
  z-index: 50000;
  right: 1rem;
  appearance: none;
  background: transparent;
  border: none;
  color: white;
  font-family: $everson;
  text-transform: uppercase;
  font-size: var(--ms-0);
  letter-spacing: 0.05em;
  cursor: pointer;
  display: none;
  @include bp(m) {
    display: none !important;
  }
  .entry-is-open & {
    display: block;
  }
  &:hover,
  &:focus {
    outline: none;
    color: $blue;
  }
}

.directory--nav {
  @extend %hide-scrollbar;
  grid-column: 1 / 13;
  scroll-behavior: smooth;
  color: white;
  grid-row: 1;
  height: auto;
  padding-top: calc(#{$baseline} * 2.6);
  ul {
    padding-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include bp(m) {
    padding-top: 0;
    grid-column: 7 / 13;
    grid-row: span 2;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
  }
  @include bp(l) {
    grid-column: 7 / 13;
    padding-left: 16.5vw;
  }
  &:after {
    content: "";
    position: fixed;
    bottom: 0;
    right: 0;
    height: 2rem;
    width: 35%;
    background: linear-gradient(to top, $black 0%, transparent 100%);
  }

  .subtitle {
    list-style: none;
    font-size: var(--ms-1);
    padding-bottom: 1em;
    padding-top: 1.1em;
    z-index: 50000;
    background: linear-gradient(to bottom, $black 0%, transparent 80%);
    @include bp(m) {
      position: sticky;
      top: 0rem;
    }
  }
}
.directory--nav--title {
  @include bp(m) {
    position: absolute;
    top: 1rem;
    z-index: 5000;
    font-size: var(--ms-1);
  }
}
.directory--entry {
  grid-column: 1 / 13;
  overflow-y: scroll;
  height: 100vh;
  grid-row: 1;
  @extend %hide-scrollbar;
  z-index: 1000;
  background-color: $black;
  position: fixed;
  opacity: 0;
  transition-delay: 100ms;
  pointer-events: none;
  width: calc(100% - 2rem);
  .entry-is-open & {
    pointer-events: all;
    opacity: 1;
  }
  @include bp(m) {
    width: 100%;
    position: static;
    grid-column: 1 / 7;
  }
}
.directory--entry--inner {
  display: flex;
  flex-flow: column;
  &.loading {
    opacity: 0;
  }
  transition: 100ms;
  min-height: 100%;
  font-size: var(--ms-1);
  padding-bottom: 1em;
  color: white;
  padding-top: 6em;
  .long-title & {
    padding-top: 7em;
  }
  @include bp(m) {
    padding-left: 2.5rem;
  }
  @include bp(l) {
    padding-right: 0;
    padding-top: 3.8em;
    .long-title & {
      padding-top: 3.8em;
    }
  }
  p {
    grid-column: 1 / 7;
    @include bp(m) {
      grid-column: 1 / 6;
    }
  }
  a {
    color: $blue;
    text-decoration: none;
    &:hover,
    &:focus {
      color: white;
    }
  }

  .post-figure {
    grid-column: 1 / 7;
    @include bp(m) {
      grid-column: 1 / 6;
    }
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--ms-0);
    &:last-child {
      margin-bottom: 0;
    }
    img {
      margin-bottom: 0;
      width: auto;
      max-width: 100%;
      max-height: 85.3vh;
    }
    &.left,
    &.right {
      img {
        width: 50%;
      }
    }
    &.right {
      justify-content: flex-end;
    }
    &.big {
      grid-column: 1 / 7;
    }
    &.long {
      grid-column: 1 / 7;
      img {
        max-height: none;
      }
    }
  }

  img {
    margin-bottom: var(--ms-0);
    &:last-child {
      margin-bottom: 0;
    }
    grid-column: 1 / 6;
    width: 100%;
  }
}

.entry--content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1.5vw;
  grid-auto-rows: min-content;
}

.entry--footer {
  @extend .everson-copy;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.footer--note {
  margin-top: 1em;
}

.directory--item {
  list-style: none;
  font-size: var(--ms-0);
  cursor: pointer;
  position: relative;
  a:hover,
  a:focus,
  &.active a {
    color: $blue;
  }
  &.hidden {
    display: none;
  }
  .description {
    padding-left: 2em;
  }
  &:hover {
    .timeline--item--thumbnail {
      opacity: 1;
    }
  }
  &:last-of-type .timeline--item--thumbnail {
    top: auto;
    bottom: 0;
  }
  .timeline--item--thumbnail {
    display: none;
    @include bp(m) {
      display: block;
    }
    opacity: 0;
    position: absolute;
    width: 7vw;
    left: 0;
    top: 0.4em;
    z-index: 10000;
    pointer-events: none;
    transform: translateX(calc(-100% - 1.5vw));
  }
}
.thumbnail_landscape {
  .timeline--item--thumbnail {
    width: 14vw;
  }
}

.related-projects {
  font-family: $everson;
  line-height: 1.18;
  max-width: 30em;
  margin-top: 1em;
  margin-bottom: 0.1em;
  font-size: var(--ms-0);
  border: 1px solid white;
  @include bp(l) {
    grid-column: 1 / 5;
  }
  h3 {
    border-bottom: 1px solid white;
    padding: 0.5em;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
.related-project {
  padding: 0.5em;
  border-bottom: 1px solid white;
  display: block;
  &:last-of-type {
    border-bottom: 0;
  }
  &:hover {
    color: $blue;
  }
  em {
    display: block;
    font-style: normal;
  }
}
