.directory {
  background: $black;
  .site-header {
    font-weight: 700;
    color: white;
    background: linear-gradient(
      to bottom,
      $black 0%,
      $black 45%,
      transparent 100%
    );
  }
}

.directory--filters {
  position: fixed;
  justify-content: space-evenly;
  flex-flow: column;
  display: none;
  top: 4.5rem;
  height: calc(100vh - 5rem);
  @include bp(l){
    top: 3rem;
    height: calc(100vh - 4rem);
  }
  @media (min-height: 40rem) {
    display: flex;
  }
  button {
    text-align: left;
    appearance: none;
    font-size: var(--ms-0);
    font-family: $everson;
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    &:hover {
      color: $blue;
    }
  }
}

.directory--nav {
  grid-column: 8 / 13;
  color: white;
}
.directory--nav--title {
  @include bp(m) {
    position: absolute;
    top: 1rem;
    z-index: 5000;
    font-size: var(--ms-1);
  }
}
.directory--entry {
  grid-column: 2 / 7;
  grid-row: 1;
  color: white;
}

.directory--item {
  list-style: none;
  font-size: var(--ms-0);
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  .description {
    padding-left: 2em;
  }
}
