.info--text {
  grid-column: 1 / 13;
  text-rendering: optimizeLegibility;
  hyphens: auto;
  font-family: $helvetica;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
  line-height: 1.22;
  font-size: calc(var(--ms-0) * 1.1);
  @include bp(m) {
    grid-column: 1 / 7;
  }
  @include bp(l){
    grid-column: 1 / 6;
    padding-right: 2em;
  }
  p {
    font-weight: 300;
    margin-bottom: 0.6em;
  }
  a {
    font-family: $everson;
    display: block;
    color: $brown;
    font-size: var(--ms-0);
  }
}

.info--timeline {
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 7 / 13;
  }
  @include bp(l) {
    grid-column: 6 / 10;
  }
  font-size: var(--ms-0);
  line-height: 1.22;
}

.timeline--item {
  list-style: none;
}
.timeline--item--copy {
  padding-left: 2em;
}

.info--colophon {
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 1 / 6;
  }
  @include bp(l) {
    grid-column: 11 / 13;
  }
  align-self: flex-end;
  font-size: var(--ms--1);
  line-height: 1.25;
}

.place {
  padding-left: 2em;
}

.subheader {
}
