.info--text {
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 1 / 7;
  }
  @include bp(l){
    grid-column: 1 / 6;
    padding-right: 2em;
  }
}

.info--timeline {
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 7 / 13;
  }
  @include bp(l) {
    grid-column: 6 / 10;
  }
}

.timeline--item {
  list-style: none;
}
.timeline--item--copy {
  padding-left: 2em;
}

.info--colophon {
  grid-column: 1 / 13;
  @include bp(m) {
    grid-column: 1 / 6;
  }
  @include bp(l) {
    grid-column: 11 / 13;
  }
  align-self: flex-end;
  font-size: var(--ms--1);
  line-height: 1.25;
}

.place {
  padding-left: 2em;
}

.subheader {
}
